<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <img class="monster-image img-fluid"
        src="<%= cl_image_path @monster.photo.key, width: 1000, height: 600, crop: :fill %>" alt="Monster Image">
    </div>
    <div class="col-md-6">
      <div class="d-flex flex-column justify-content-end h-100">
        <h1 class="monster-title fw-bolder"><%= @monster.name %></h1>
        <p class="monster-description fw-bold"><%= @monster.description %></p>
        <p class="monster-price fw-bold">Price: <%= @monster.price %>$ per week</p>
        <div class="book-button mt-3">
          <%= form_for @booking, url: user_new_booking_path(@user), method: :post do |f| %>
          <%= f.hidden_field :monster_id, value: @monster.id %>
          <%= f.submit "Reservation", class: "btn btn-success", data: { turbo_confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
