<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <img class="monster-image img-fluid"
        src="<%= cl_image_path @monster.photo.key, width: 1000, height: 600, crop: :pad %>" alt="Monster Image">
    </div>
    <div class="col-md-6">
      <div class="d-flex flex-column justify-content-end h-100">
        <h1 class="monster-title fw-bolder"><%= @monster.name %></h1>
        <p class="monster-description fw-bold"><%= @monster.description %></p>
        <p class="monster-price fw-bold">Prix: <%= @monster.price %>$ par semaine</p>
        <div class="book-button mt-3">
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#emailModal">Réservation</button>
        </div>
          <div class="btn-group mt-2 pt-1" style="margin-left: 30px;" role="group" aria-label="Actions">
            <% if current_user == @monster.user %>
              <%= link_to 'Edit', edit_monster_path(@monster), class: 'btn btn-primary custom-button' %>
              <%= button_to 'Supprimer', monster_path(@monster), method: :delete, data: { confirm: 'Êtes-vous sûr?' }, class: "btn btn-danger custom-button" %>
            <% end %>
            <div class="d-grid gap-2 d-md-block">
            <%= link_to 'Retour', monsters_path, class: "btn btn-secondary custom-button" %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'email_modal' %>
