
<div class="container">
  <div class="row">
    <div class="col">
      <img class="monster-image img-fluid"
        src="<%= cl_image_path @monster.photo.key, width: 300, height: 300, crop: :fill %>" alt="Monster Image">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="monster-title pt-2 m-0 fw-bolder"><%= @monster.name %></h1>
      <p class="monster-description fw-bold"><%= @monster.description %></p>
      <p class="monster-price fw-bold">Price: <%= @monster.price %>$ per week</p>
      <div class="book-button">
        <%= form_for @booking, url: user_new_booking_path(@user), method: :post do |f| %>
        <%= f.hidden_field :monster_id, value: @monster.id %>
        <%= f.submit "Let's Book", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
