<div class="container mt-5">
  <h1>Éditer la Réservation</h1>
  <div class="card mt-3">
    <div class="card-body">
      <%= form_for(@booking, url: booking_path(@booking), method: :patch, html: { class: "form" }) do |f| %>
        <div class="form-group">
          <%= f.label :reservation_date, "Date de Réservation" %>
          <%= f.text_field :reservation_date, class: "form-control", placeholder: "Date de Réservation" %>
        </div>
        <div class="form-group">
          <%= f.label :client_name, "Client" %>
          <%= f.text_field :client_name, class: "form-control", placeholder: "Nom du Client" %>
        </div>
        <!-- Ajoutez d'autres champs de formulaire au besoin -->
        <%= f.submit "Enregistrer", class: "btn btn-primary" %>
        <%= link_to "Annuler", booking_path(@booking), class: "btn btn-secondary" %>
      <% end %>
    </div>
  </div>
</div>
