<h1>Nouvelle Réservation de monstre</h1>

<%= form_for @booking do |f| %>

  <div class="form-group">
    <%= f.label :reservation_date, "Date de Réservation" %>
    <%= f.date_field :reservation_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :client_name, "Nom du Client" %>
    <%= f.text_field :client_name, class: "form-control" %>
  </div>

  <%= f.submit "Créer Réservation", class: "btn btn-primary" %>
<% end %>

<%= link_to "Retour aux Réservations", user_bookings_path, class: "btn btn-secondary" %>
